<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044923628766-f2362o4k64mjm1voch6sf3ihmhn8vhqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044923628766-f2362o4k64mjm1voch6sf3ihmhn8vhqb</string>
	<key>API_KEY</key>
	<string>AIzaSyCU8hqkZHJ1YaT39MhnjV6vMSnSJYlNfUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1044923628766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.d2home.d2deliveryman</string>
	<key>PROJECT_ID</key>
	<string>d2home-3e6ec</string>
	<key>STORAGE_BUCKET</key>
	<string>d2home-3e6ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044923628766:ios:79ca0cfcd43587ef45964f</string>
</dict>
</plist>